@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Общие стили */

body {
  font-family: "Roboto", sans-serif;
  background-color: #fdfbf8;
  color: #303030;
  margin: 0;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  padding: 84px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.shadow_content {
  background-color: #ffffff;
  box-shadow: 0px 5px 10px 0px rgba(39, 23, 0, 0.2);
  border-radius: 12px;
}

/* Шапка */

.header {
  background-color: #779d77;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 45px;
}

.logo p {
  font-size: 24px;
  width: 50%;
}

.header__list {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.header__nav a {
  font-size: 20px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.header__nav a.active {
  opacity: 1;
}

.header__nav a:hover {
  opacity: 0.9;
}

/* Конвертер */


.calculator {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.wrapper_title {
  font-size: 48px;
  font-weight: 700;
  border: 0;
  margin: 0px;
  padding: 0px; 
  line-height: 1;
  flex: 0 0 auto;
}


.fields_input {
  padding: 40px 40px;
}

.fields_input p {
  font-size: 20px;
  font-weight: 500;
  margin-block: 0;
}


.input__count__parametr input {
  box-sizing: border-box;
  height: 52px;
  width: 240px;
  font-size: 15px;
  color: #9f9f9f;
  border: 1px solid #779d77;
  border-radius: 6px;
  padding: 10px;
}

.form__group,
.input__count__parametr select,
.input__count__parametr input {
  width: 500px;
  height: 52px;
  font-size: 15px;
  color: #9f9f9f;
  border: 1px solid #779d77;
  border-radius: 6px;
  padding: 10px;
  margin: 20px 0 30px;
  background: transparent url(./icons/expand_more.svg) no-repeat;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form__group {
  background-position: 466px 18px;
}


.input__count__parametr select {
  background-position: 206px 18px;
}

.input__count__parametr input {
  background-image: none;
}

.form__group:hover,
.input__count__parametr select:hover,
.input__count__parametr input:hover {
  border-color: #0c340c;
  opacity: 0.9;
  cursor: pointer;
}

.radio__group {
  display: flex;
  gap: 12px;
  margin: 20px 0 30px;
}


.form__radio__btn {
  display: flex;
  width: 244px;
  align-items: center;
  gap: 8px;
}


.form__radio__btn input[type="radio"] {
  height: 20px;
  width: 20px;
  accent-color: #779d77;
  margin: 0px;
  cursor: pointer;
}

.input__count__parametr {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 500px;
  height: 52px;
  margin-top: 20px;
  margin-bottom: 30px;
}


.reset__and__calculate {
  display: flex;
  gap: 50px;
  align-items: flex-start;
}

.reset__btn {
  width: 301px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.reset__btn input[type="reset"] {
  background-color: transparent;
  border: none;
  padding: 0px;
  color: #779d77;
}

.reset__and__calculate input[type="submit"] {
  font-weight: 500;
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 40px 16px 140px;
}

.result p {
  color: #779d77;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 149px;
  height: 41px;

  font-size: 16px;
  font-weight: 500;
  color: #ffffff;

  background: #779d77;

  border-radius: 6px;
  border: none;

  transition: opacity 0.3s;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
  
}

.history_content {
  flex-grow: 1;
  background-image: url(./images/food.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 600px;
  height: 800px;
}

.history {
  display: inline-block;
  background-color: #faf8e5;
  padding: 30px;
  box-shadow: 0px 5px 10px 0px rgba(39, 23, 0, 0.2);
  margin-top: 71px;
  
}

.history h4 {
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: 500;
}

.history__item {
  margin-bottom: 20px;
}
